/* full page edits */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f5f7;
  color: #1f2438;
  line-height: 1.5;
}

/* header edits */
.header {
  background-color: white;
  border-bottom: 1px solid #e2e5ea;
  padding: 30px 20px;
  text-align: center;
}

.header h1 {
  color: #0b57cf;
  font-size: 32px;
}

.header p {
  color: #6b7288;
  margin-top: 6px;
}

/* main edits */
.container {
  max-width: 700px;
  min-height: 600px;
  margin: 0 auto;
  padding: 30px 20px;
}
/* main edits: stats */
.stats {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.stat-card {
  box-shadow: 2px 2px 10px #6b7288;
  flex: 1;
  min-width: 140px;
  background-color: white;
  border: 1px solid #e2e5ea;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  transition: 0.2s ease-in-out;
}
.stat-card:hover {
  transform: scale(1.05);
}
.stat-label {
  color: #1f2438;
  font-size: 14px;
}
.stat-value {
  font-size: 30px;
  font-weight: bold;
  margin-top: 5px;
}
/* main edits: buttons */
.btn-group {
  margin-top: 15px;
  height: fit-content;
}
.btn {
  border: none;
  background-color: white;
  color: #0b57cf;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px #6b7288;
  transition: 0.2 ease-in-out;
  cursor: pointer;
  font-size: 13px;
}
.btn:hover {
  transform: scale(1.02);
  background-color: #e2e5ea;
  font-size: 14px;
}
.btn.active {
  background-color: #0b57cf;
  color: white;
}
.searchText {
  border: none;
  color: #0b57cf;
  margin: 10px;
  outline: none;
  border-radius: 15px;
  padding: 0.8em;
  width: 410px;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
}

.searchText:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow:
    13px 13px 100px #969696,
    -13px -13px 100px #ffffff;
}
/* main edits: tasks */
.task-list {
  list-style: none;
  margin-top: 20px;
}
.task-item {
  display: flex;
  box-shadow: 2px 2px 10px #6b7288;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #e2e5ea;
  gap: 15px;
  border-radius: 10px;
  padding: 15px 10px;
  margin-bottom: 12px;
}
.task-item:hover {
  border: 1px solid #0b57cf;
}
.task-status {
  border-radius: 20px;
  color: white;
  font-size: 12px;
  padding: 5px 12px;
}
.completed {
  background-color: #0b57cf;
}
.pending {
  background-color: #cf0b0b;
}
.progressText {
  text-align: center;
  color: #1f2438;
  font-size: 14px;
}

/* footer edits */
.footer {
  background-color: white;
  border-top: 1px solid #e2e5ea;
  padding: 20px 10px;
  text-align: center;
  position: sticky;
}
.footer p {
  color: #6b7288;
  margin-top: 6px;
}

/* media querey */
@media (max-width: 600px) {
  .header h1 {
    font-size: 20px;
  }
  .header p,
  .footer p {
    font-size: 14px;
  }
  .stats {
    flex-direction: column;
  }
  .btn-group {
    flex-wrap: wrap;
    height: auto;
  }
}
@media (max-width: 480px) {
  .btn {
    width: 100%;
  }
}
