body {
  background-color: #eeeeee;
}
* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 0px;
}
h1 {
  color: darkred;
  text-align: center;
}
form {
  background-color: white;
  box-shadow:
    1px 1px 1px rgba(3, 7, 18, 0.1),
    3px 5px 5px rgba(3, 7, 18, 0.08),
    6px 12px 12px rgba(3, 7, 18, 0.06),
    10px 20px 20px rgba(3, 7, 18, 0.04),
    16px 32px 32px rgba(3, 7, 18, 0.02);
  border-radius: 12px;
}
.container {
  display: flex;
  justify-content: space-between;
}

.slide-panel {
  background-color: #ffffff;
  transition: transform 0.2s;
  display: inline-block;
  margin: 20px;
  min-width: 26%;
  height: 250px;
  border-radius: 12px;
  box-shadow:
    1px 1px 1px rgba(3, 7, 18, 0.1),
    3px 5px 5px rgba(3, 7, 18, 0.08),
    6px 12px 12px rgba(3, 7, 18, 0.06),
    10px 20px 20px rgba(3, 7, 18, 0.04),
    16px 32px 32px rgba(3, 7, 18, 0.02);
  padding: 30px;
}
button {
  margin-bottom: 30px;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  box-shadow:
    1px 1px 1px rgba(3, 7, 18, 0.1),
    3px 5px 5px rgba(3, 7, 18, 0.08),
    6px 12px 12px rgba(3, 7, 18, 0.06),
    10px 20px 20px rgba(3, 7, 18, 0.04),
    16px 32px 32px rgba(3, 7, 18, 0.02);
  transition: 0.5s ease-out;
}

button:hover {
  background-color: darkred;
  color: #ececec;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.input {
  border: none;
  margin: 10px;
  padding: 5px;
  outline: none;
  border-radius: 15px;
  padding: 0.4em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow:
    13px 13px 100px #969696,
    -13px -13px 100px #ffffff;
}

.slide-panel:hover {
  background-color: #ececec;
  transform: scale(1.05);
}
